body {
  margin: 0;
  font-family: "Assistant", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(7, 0, 46), rgb(25, 2, 87));
  background-size: cover;
}

code {
  font-family: "Assistant", sans-serif;
}
html {
  height: 100%;
}
