h1 {
  margin: auto;
}
.movie-list {
  margin: 1em;
  padding: 1em;
}
.movie-card {
  margin: 1em;
  padding: 1em;
}

#header-text {
  text-align: center;
  margin-top: 3rem;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.info {
  display: inline-block;
  margin-left: 12px;
}
.name {
  font-size: 1.25rem;
  font-weight: bold;
}
